.modal-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
    display: none;

    .modal-menu {
        width: 30%;
        height: 100vh;
        background-color: black;
        position: fixed;
        padding: 50px 30px;
        left: 0;
        top: 0;
        z-index: 1001;

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            gap: 20px;

            .ul-a {
                font-size: 14px;
                text-decoration: none;
                color: white;
                font-weight: 600;
                cursor: pointer;
            }

            .drop {
                position: relative;

                .drop-menu {
                    background-color: white;
                    position: absolute;
                    width: 160px;
                    padding: 14px;
                    left: 0;
                    top: 40px;
                    transition: 0.5s ease;
                    display: none;
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 400;
                        font-size: 15px;
                    }
                }

                &:hover .drop-menu {
                    z-index: 100;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

            }
        }
    }
    p{
        position: absolute;
        right: 25px;
        top: 25px;
        color: white;
    }
}