
body{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
 div{
    width: 20%;
    height: 180px;
    border: 2px solid black;
    padding: 20px;
 }

    #image{
    display: flex;
    flex-direction: column;
}