body{
    width: 95%;
    height: 70vh;
}

section{
    margin: 100px auto;
    width: 75%;
    height: 65%;
}
section .card {
    margin: auto;
    width: 75%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px white solid;
    border-radius: 10px;
    background-color: white;
    gap: 20px;
  }
section .card .img {
    width: 25%;
    height: 40%;
    padding: 20px;
  }
section .card .img img {
    object-fit: content;
  }
section .card .text {
    margin-top: 70px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(242, 242, 242);
  }
section .card .text h5 {
    font-size: 20px;
  }
section .card .text p {
    color: gray;
  }